:root {
    --primary-color: #4caf50;
    --primary-color-hover: #45a049;
    --secondary-color: #f2f2f2;
    --text-color: white;
}
body {
    font-family: Arial, sans-serif;
}
form {
    margin-bottom: 20px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type='text'] {
    display: block;
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button[type='submit'] {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-top: 20px;
}
button[type='submit']:hover {
    background-color: var(--primary-color-hover);
}
table {
    border-collapse: collapse;
    width: 100%;
}
th,
td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: var(--secondary-color);
}
th {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.table-container {
    overflow-y: auto;
    max-height: 250px;
}

.table-container::-webkit-scrollbar {
    width: 12px;
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
    border: 3px solid #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.delete-button,
.edit-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.delete-button {
    background-color: #f44336;
    color: white;
}

.edit-button {
    background-color: #4caf50;
    color: white;
}

.delete-button:hover,
.edit-button:hover {
    opacity: 0.8;
}
